<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="./css/rubens.css">
    <link rel="stylesheet" href="./css/fontello.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">
    <title>Маршруты по странам</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg sticky" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#main">Главная</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Каталог
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item top-menu" href="./index.html#route">Маршруты</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item top-menu" href="./index.html#country">Страны</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item top-menu" href="./index.html#brewery">Пивоварни</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Информация
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./about.html#site">О сайте</a></li>
                  <li><a class="dropdown-item" href="./about.html#about">О себе</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./about.html#write">Написать нам</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Мой профиль
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Личный кабинет</a></li>
                  <li><a class="dropdown-item" href="#">Админ панель</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Выйти</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </nav>
      <section class="country-route" id="country-route">
        <div class="container-fluid center">
          <div class="row center">
            <nav class="breadcrumb-arrow" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html#main">Главная</a></li>
                <li class="breadcrumb-item"><a href="./index.html#country">Страны</a></li>
                <li class="breadcrumb-item active" aria-current="page">Маршруты по странам</li>
              </ol>
            </nav>
            <div class="col-12 center">
              <h1 class="text-center text-second2"><img class="svg" src="img/svg/роза/151855-edb176.svg" alt="узор" width="30" height="30">  Германия - Пивоваренные маршруты  <img class="svg" src="img/svg/роза/151855-edb176.svg" alt="узор" width="30" height="30"></h1>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <ol class="breadcrumb">
              <h2 class="d-inline-block route-block dark"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" data-bs-placement="top" title="Пеший маршрут по пивоварням общин Литцендорф и Штруллендорф в Франконии Германия">Тропа 7 пивоварен </a></h2>
              <h2 class="d-inline-block route-block dark"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" data-bs-placement="top" title="Пеший маршрут по пивоварням общины Ауфзес в Франконии Германия, где на 1500 жителей приходится 4 пивоварни.">Ауфзес и рекорд в Книге рекордов Гиннесса </a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пивоварни Мюнхена и традиционное место отдыха горожан - пивные сады, Мюнхен, Германия">Пивные сады и пивоварни Мюнхена</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Берлинские пивоварни и традиционное пиво 'берлинер' и 'гозе', Берлин, Германия">Берлинский Berliner и не только</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пиво раухбир и пивоварни старинного города Бамберга - неформальной столицы региона Франконская Швейцария, Франкония, Германия">Rauchbier Бамберга и старинные пивоварни</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пиво келлербир и пивоварни Нюрнберга - столицы региона Франкония, Нюрнберг, Германия">Нюрнберг и Kellerbier-традиции Франконии</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title= "Пеший маршрут среди озер по пивоварням общин и городов живописной долины реки Айш в Франконии Германия">Пивоваренная тропа по долине реки Айш</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по многочисленным пивоварням общины Бад-Штаффельштайн, Франкония, Германия">10 пивоварен Бад-Штаффельштайна</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по историческим пивоварням юго-западных окрестностей Бамберга, Франкония, Германия">По следам королевы Кунигунды</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title= "Пивоварни городов и общин между тремя древними пивоваренными столицами Франконии, Германия">Между Бамбергом, Нюрнбергом и Амбергом</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по традиционным пивоварням на юге Франконской Швейцарии (община Грефенберг), Франкония, Германия">Фюнф-Зейдла-Штайг</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по пивоварням города Эберманштадт и общин Прецфельд, Лойтенбах, Грефенберг, Франкония, Германия">Южные ворота в "Франконскую Швейцарию"</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title= "Пеший маршрут среди озер и заток по пивоварням общин и городов живописной долины реки Майн в Франконии Германия">Пивоваренная тропа по долине реки Майн</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title= "Пеший маршрут среди скалистых хребтов р.Майн по пивоварням общин Раттельсдорф и Реккендорф в Франконии Германия">Меж горных хребтов "Франконской Швейцарии"</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title= "Пешие маршруты по додине р.Пегниц по пивоварням общин восточной Франконии Германия">Пивоваренные маршруты восточной Франконии</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по пивоварням города Эхинген и Ульм через биосферный заповедник Швабский Альб, Баден-Вюртемберг, Германия">Эхинген и биосферная зона Швабских Альбов</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по пивоварням и окрестностям древнего города Гейдельберг- старой столицы исторической германской области Пфальц, Баден-Вюртемберг, Германия">Древний Гейдельберг и долина р.Неккар</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Маршрут по пивоварням города и округа Штутгарт, округов Тюбинген и Карлсруэ, Баден-Вюртемберг, Германия">Пивоваренные маршруты Баден-Вюртемберга</a></h2>
              <h2 class="d-inline-block route-block"><img class="svg" src="img/svg/1-3.svg" alt="узор" width="50" height="40"><a href="./route.html" class="route-name color1" data-bs-toggle="tooltip" title="Пеший маршрут по пивоварням города Кельхайм через заповедник Дунайский разлом, и по каналу Людвиг-Дунай-Майн к пивоварням общин Эссинг и Риденбург, Бавария, Германия">Кельхайм и заповедник Дунайский разлом</a></h2>
            </div>
          </div>
        </div>
      </section>
      <div class="line" style="border-bottom: solid 5px #8e4c0a;"></div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
