{% extends "main/base.html" %}

{% block content %}
<section class="write" id="write">
    <div class="card mx-auto border-0 col-10 col-md-8 col-lg-8" style="background: #edb176; color: #955515;">
        <div class="card-body" style="text-shadow: none; font-weight: 500; font-size: 16px;">
            <h1 style="color: #855526;">ДОГОВОР-ОФЕРТА на оказание информационных услуг</h1>

            <h2 class="mt-4" style="color: #855526; text-shadow: none;">1. Предмет договора</h2>
            <p>1.1. Исполнитель в лице администрации сайта https://guide-brewery.ru/ предоставляет Заказчику (лицо обратившееся с запросом об информации о "пивоваренном маршруте") доступ к платным туристическим маршрутам по пивоварням стран Европы ("Услуга") после оплаты.</p>

            <h2 class="mt-4" style="color: #855526; text-shadow: none;">2. Порядок оказания услуг</h2>
            <p>2.1. Услуга считается оказанной после отправки администрацией сайта материалов по туристическому маршруту по пивоварням на электронную почту Заказчика.</p>
            <p>2.2. Доступ к материалам предоставляется в течение 1 года с момента оплаты.</p>

            <h2 class="mt-4" style="color: #855526; text-shadow: none;">3. Оплата</h2>
            <p>3.1. После обращения через контактную форму связи на сайте с запросом об информации о "пивоваренном маршруте", мы вышлем реквизиты для перевода.</p>
            <p>3.2. Оплата производится по реквизитам после согласования. Мы не храним банковские данные.</p>

            <h2 class="mt-4" style="color: #855526; text-shadow: none;">4. Возврат средств</h2>
            <p>4.1. Возврат возможен в течение 14 дней с момента оплаты, если услуга не была оказана ("пивоваренный маршрут" не был выслан).</p>

            <p class="mt-4"><strong>Дата актуальности:</strong> {% now "d.m.Y" %}</p>
        </div>
    </div>
</section>
{% endblock %}
